<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82319639979-d050ja0pg65pr1gb1vh9dkrk6oocn16d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82319639979-d050ja0pg65pr1gb1vh9dkrk6oocn16d</string>
	<key>API_KEY</key>
	<string>AIzaSyB2e1YJfiiF1mq78GRBAbCcRWcPVZjWkHw</string>
	<key>GCM_SENDER_ID</key>
	<string>82319639979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rilatech.bioself</string>
	<key>PROJECT_ID</key>
	<string>bioself-441d9</string>
	<key>STORAGE_BUCKET</key>
	<string>bioself-441d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82319639979:ios:da949f856b91afd2607eee</string>
</dict>
</plist>